.navbar {
  height: 3.75rem;
  background-color: rgb(1, 35, 66);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.2rem;
}

.navbarContainer {
  margin: 0px 0.5rem;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  max-width: 1030px;
}

.navLogo {
  font-size: clamp(1rem, 1rem + 0.35vw, 1.8rem);
  font-weight: 800;
  opacity: 1;
  transition: opacity 0.2s;
  cursor: pointer;
}

.navLogo:hover {
  opacity: 0.8;
}

.navbarLinks {
  display: flex;
  gap: clamp(0.15rem, 0.15rem + 0.2vw, 0.8rem);
}

.navbarButton {
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  color: #f2f2f2;
  font-size: clamp(0.7rem, 0.7rem + 0.35vw, 1rem);
  opacity: 1;
  border: none;
  transition: padding 0.2s, font-size 0.2s, opacity 0.25s;
}

.navbarButton.active {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 0.5rem 0.9rem;
}

.navbarButton:hover {
  font-size: 1.15rem;
}

.navLogo:active,
.navbarButton:active {
  opacity: 0.6;
}
